.aggrid{
    height: calc(100%  - 50px);

}

.ag-header-cell-text{
    display: block;
    width: 100%;
    text-align: center;
}


.containerSystem{
    width: calc(100% - 200px);
    height: calc(100vh - 50px);
    margin-top: 50px;
}

.btnContainer{
    height: 45px;
    padding: 0 10px;
    box-sizing: border-box;
    text-align: left;
    line-height: 45px;
}