<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="jp.co.muratec.common.mapper.LoginCheckMapper">    

     <!-- 権限リスト取得 :  【権限カテゴリID】,【ユーザー管理番号】,【サブシステムID】-->
    <select id="getAuthList" resultType="jp.co.muratec.common.domain.AuthListDomain">
        <bind name="_category_id" value="@jp.co.muratec.CollaboConst@CATEGORY_ID_CTB" />
        <!-- <bind name="_userId" value="'userID'" /> -->
        <bind name="_ssystemId" value="@jp.co.muratec.CollaboConst@SSYSTEM_ID_CTB" />
    	SELECT
    	    AUTHID
    	FROM
    	    TABLE(
    	        CAP_AUTH_GET.F_GET_AUTHLIST(#{_category_id,jdbcType=VARCHAR,mode=IN}, #{_userseq,jdbcType=NUMERIC,mode=IN}, #{_ssystemId,jdbcType=VARCHAR,mode=IN})
    	    )
   	    ORDER BY AUTHID DESC
    </select>    
 	<!-- 個人言語設定 ： 【ユーザーID】 -->
    <select id="getCstLang" resultType="jp.co.muratec.common.domain.CstLangDomain">
       	<!--<bind name="_userId" value="'userID'" />-->
       	<!--  <bind name="_userId" value="'userID'" />-->
       	<bind name="_userId" value="@org.springframework.security.core.context.SecurityContextHolder@getContext().getAuthentication().getName()"/>
       		SELECT F_GET_CST_LANG(#{_userId,jdbcType=VARCHAR,mode=IN}) AS LANGID FROM DUAL
    </select>   
    
    <!-- ユーザーhashからユーザーSEQ取得 AuthenticatedUserDetailsService-->
    <!-- HASH_TO_USRSEQ : 【ユーザー管理番号】 -->
    <select id="getAuthUserSeq" resultType="INTEGER">
    	SELECT CBP_UTIL.HASH_TO_USRSEQ(#{_usrhash,jdbcType=VARCHAR,mode=IN}) AS USRSEQ FROM DUAL
    </select>
    
    <!-- ユーザーSEQからユーザーID取得 -->
    <!-- USRSEQ_TO_LGINID : 【ユーザー管理番号】 -->
    <select id="getUserId" resultType="jp.co.muratec.common.domain.UserIdDomain">
        SELECT CBP_UTIL.USRSEQ_TO_LGINID(#{_userseq, jdbcType=NUMERIC,mode=IN}) AS USERID FROM DUAL
    </select> 
    
    <!-- ユーザーIDからユーザーSEQ取得 -->
    <select id="getUserId_to_Seq" resultType="INTEGER">
    	<bind name="_userId" value="@org.springframework.security.core.context.SecurityContextHolder@getContext().getAuthentication().getName()"/>
        	SELECT CBP_UTIL.LGINID_TO_USRSEQ(#{_userId,jdbcType=VARCHAR,mode=IN}) AS USRSEQ FROM DUAL
    </select>
    
    <!-- 言語変更 -->
    <!-- F_UPD_CST_LANG : 【ユーザーID】, 【言語情報】, 【ユーザー管理番号】, 【プログラムID】 -->
    <select id="updateLang" statementType="CALLABLE">
    	<bind name="_prgupd" value="@jp.co.muratec.CollaboConst@SSYSTEM_ID_CTB" />
        	CALL F_UPD_CST_LANG(#{_usrid, jdbcType=VARCHAR,mode=IN},#{_val, jdbcType=VARCHAR,mode=IN},#{_usrseq, jdbcType=NUMERIC,mode=IN},#{_prgupd, jdbcType=VARCHAR,mode=IN}) 
    </select> 
</mapper>